li {
  padding: 10px;
  margin: 5px;
  background: skyblue;
  color: black;
}
img{
  height: 150px;
  width: 150px;

  margin-left: auto;
  margin-right: auto;
}
.dev {
  padding: 10px;
  margin: 5px;
  background:lightgrey;
  color: gray;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.col-sm-6{
  border: 1px solid;
  border: 1px solid;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid gray;
  padding: 10px;
}
body {
  background-color: lightgoldenrodyellow;
}
.change-devour{
  float:right;
}
.delete-burger{
  float:right;
  margin-right: 10px;
}
h1{
  text-align: center
}
.jumbotron {
  background-color: brown;
  color: azure;
  text-align: center;
  height: 235px;
  padding-top: 10px;
}